.upcoming-launch {
    height: 100%;
    background: linear-gradient(to right, #24c5bb, #495864);
    color: #ffffff;
    text-align: center;
    position:relative;    
    padding: 40px;

    .nav-icon {
        height: 40px;
        width: 40px;
        position: fixed;
        top: calc(100vh - 60px);
        left: calc(50vw - 20px);
        z-index: 1000;
        color: #ffffff;
    }
}